<template>
<div class="bg-black min-h-screen">
    <div class="flex justify-between items-center py-5 px-10" id="header">
        <div></div>
        <div class="">
            <img src="/images/logo.png" alt="" srcset="" class="h-16" />
        </div>
        <div class="text-sm font-medium">
            <a href="/" class="text-white">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 172 172" style=" fill:#000000;">
                    <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                        <path d="M0,172v-172h172v172z" fill="none"></path>
                        <g fill="#ffffff">
                            <path d="M86,6.88c-43.6552,0 -79.12,35.4648 -79.12,79.12c0,43.6552 35.4648,79.12 79.12,79.12c43.6552,0 79.12,-35.4648 79.12,-79.12c0,-43.6552 -35.4648,-79.12 -79.12,-79.12zM86,13.76c39.9368,0 72.24,32.3032 72.24,72.24c0,39.9368 -32.3032,72.24 -72.24,72.24c-39.9368,0 -72.24,-32.3032 -72.24,-72.24c0,-39.9368 32.3032,-72.24 72.24,-72.24zM113.4864,54.99297c-0.90737,0.02145 -1.76951,0.4006 -2.39859,1.05485l-25.08781,25.08781l-25.08781,-25.08781c-0.64765,-0.66575 -1.53698,-1.04135 -2.46578,-1.04141c-1.39982,0.00037 -2.65984,0.84884 -3.18658,2.14577c-0.52674,1.29693 -0.21516,2.7837 0.78799,3.76001l25.08781,25.08781l-25.08781,25.08781c-0.89867,0.86281 -1.26068,2.14404 -0.94641,3.34956c0.31427,1.20552 1.2557,2.14696 2.46122,2.46122c1.20552,0.31427 2.48675,-0.04774 3.34956,-0.94641l25.08781,-25.08781l25.08781,25.08781c0.86281,0.89867 2.14404,1.26068 3.34956,0.94641c1.20552,-0.31427 2.14696,-1.2557 2.46122,-2.46122c0.31427,-1.20552 -0.04774,-2.48675 -0.94641,-3.34956l-25.08781,-25.08781l25.08781,-25.08781c1.02251,-0.98325 1.33669,-2.4933 0.79119,-3.80279c-0.5455,-1.30949 -1.83881,-2.1499 -3.25697,-2.11643z"></path>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
    </div>

    <div class="container mx-auto my-auto text-white">
        <div class="text-center flex justify-center mt-10 md:mt-20">
            <div class="">
                <span class="text-7xl ">Creavora Studio </span>
                <div class="mt-5 max-w-3xl">
                    We will shape the faces of your business. Our digital studio crafts eye-catching theme and mood of your brand or business with modern, clean, and minimalistic style. We will help the brands to impact the lives of millions people, and brands that last a long time
                </div>
            </div>
            
        </div>
        <div class="flex justify-center mt-20">
                <div class="text-center max-w-lg">
                    <span class="text-3xl ">Get answers to all your questions you might have.</span>
                    <div class="my-5 max-w-3xl">
                        If you have any questions or comments, or you’d like to inquire about custom license, please use the form to email us and and we’ll get back to you shortly.
                    </div>
                    <a href="mailto:creavora@gmail.com" class="px-5 py-3 bg-white text-black">
                        Contact Us
                    </a>
                </div>
            </div>
    </div>
</div>
</template>
